/*Documento css*/

body { background-color: #e3f8f1;
       font-family: "Oswald", sans-serif; }

h1, h3 { color: blueviolet; 
         font-size: 2em; 
         font-weight: bold; 
         text-transform: uppercase; }

h2, h4 { color: green; }

div p small { color: red;
              font-weight: bold; }






